{% extends 'base.html' %}

{% block content %}

<!--If/Else block-->
{% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
    <h1>Add a Pokemon</h1>
{% endif %}

<!--leave the action empty so the form posts to the same url-->
<form action="" method ="post">
    {% csrf_token %}
    <table>
<!-- Render the inputs of tr & td-->
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
</form>

{% endblock %}

<!------------------Notes------------------------>
<!--csrf_token makes it difficult to perform a cross-site request forgery-->