{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokemon Collector</title>
<!--materialize stylesheet-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--my stylesheet-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Pokemon Collector</a></li>
        </ul>
        <ul class="right">
            <!--About-->
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <!--Add a toy-->
            <li><a href="{% url 'toys_create' %}">Add a Toy</a></li>
          <!--View all-->
            <li><a href="{% url 'toys_index' %}">View all Toys</a></li>
          <!--Add a pokemon-->
            <li><a href="{% url 'pokemons_create' %}">Add a Pokemon</a></li>
          <!--View all-->
            <li><a href="{% url 'index' %}">View All my Pokemon</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2021 Pokemon Collector &nbsp;</div>
  </footer>
</body>
</html>